h2{
    background:#5599DD;
    color:#DDDDDD;
    padding: 5px;
}
.exp{
    text-indent:50px;
}
#email{
    text-decoration:underline;
    font-style:italic;
}
body{
    font-family: sans-serif;
}
#conteudo{
    width: 960px;
    margin-left: auto;
    margin-right: auto;
}
#header{
    text-align:center;
}
