body{
    background-color: #F5F0DC;
    font-family: Helvetica, Arial, sans-serif;
    width: 940px;
    margin: auto;
}

#titulo{
    text-align: center;
}

h2{
    background-color: #B3A742;
    padding: 5px;
    color: #FFFFFF;
}

#tb-nutrientes{
    border: 1px solid black;
    width: 40%;
    margin: auto;
}

#tb-nutrientes th{
    background-color: #F8EA6B;
}

/* Aplica somente as linhas impares. */
#tb-nutrientes tr:nth-child(odd){
    background-color: #FFFFFF;
}

/* Aplica somente as linhas pares. */
#tb-nutrientes tr:nth-child(even){
    background-color: #F8EAB3;
}

nav ul li{
    display: inline;
    margin-right: 50px;
}